

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1px" fxLayoutAlign="end center" fxLayoutAlign.lt-md="end start">
    
    <div> 
      <a>
      <button mat-button [routerLink]="['/app-about']" >
        About
      </button>
      </a>
    </div>
    <!-- <div>
            <a>
        <button mat-button (click)="logout()" >
          Logout
        </button>
        </a>
    </div> -->
    <div *ngIf="user"> 

        <button mat-button [matMenuTriggerFor]="menu">{{user.name}}</button>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>
      </div>

  </div>
  
