<mat-toolbar color="primary" class="top-menu mat-elevation-z5">
    <div fxHide fxShow.lt-md="true" fxFlexAlign="center" style="padding-right: 10px;">
        <button mat-icon-button (click)="
        sidenavIndex.toggle()">
            <mat-icon class="left-menu-button">menu</mat-icon>
        </button>        
    </div>
    <div>

        <a [routerLink]="['/']">
            <img src="assets/images/perfecto-logo.png" height="45">
        </a>

    </div>

    <div style="width:80%">
        <span class="example-spacer"></span>
    </div>
    <div fxShow="true" fxHide.lt-md="true" >
            <app-header></app-header>
        </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenavIndex mode="over" fxLayout="column" class="side-nav-class" style="padding-top:70px;">
        <app-header></app-header>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="top-menu-spacer">

        </div>

        <mat-toolbar color="primary" class="fixed-header-toolbar">
            <mat-card style="width:100%">
              <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10">
                  <div>
                    <div fxShow="true" fxHide.lt-md="true">
                      <mat-checkbox [formControl]="selectAllControl">
                          <label>Select</label>
                      </mat-checkbox>
                    </div>
                    <div fxShow="false" fxShow.lt-md="true">
                        <mat-checkbox [formControl]="selectAllControl">
                        </mat-checkbox>
                    </div>
                  </div>
                  <div fxShow.lt-md="false">
                    &nbsp;
                  </div>
                  <div>
                    <div fxLayout="column">
                      <div>
                        <h4>Recent Expenses</h4>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div fxLayout="column">
          
          
                      <button *ngIf="displayAdd()" [routerLink]="['/app-expense']" mat-mini-fab color="accent">
                        <mat-icon class="action-icon">add</mat-icon>
                      </button>
                      <button *ngIf="displayDelete()" (click)="deleteSelected()" mat-mini-fab color="warn">
                        <mat-icon class="action-icon">delete</mat-icon>
                      </button>
          
                    </div>
          
                  </div>
          
                  <div fxShow.lt-md="false">
                    &nbsp;
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-toolbar>
          <div class="form-body">
            <mat-card>
             
              <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center stretch" >
              <mat-card *ngFor="let expense of expenses; let i = index" class="element-card" >
          
                  <div class="element-action-class">
                      <div fxLayout="row" fxLayoutAlign="space-around stretch" >
                        <div  fxFlex="20" class="edit-section">
                          <div *ngIf="displayEditButton" class="edit-section">
                              

                              <button mat-mini-fab color="accent">
                                  <mat-icon class="action-icon">edit</mat-icon>
                              </button>

                          </div>
                        </div>
                        <div fxFlex="60">
          
                        </div>
                        <div fxFlex="20"  >
                          <div  class= "delete-section">                              
                              <button mat-mini-fab color="warn">
                                  <mat-icon class="action-icon">delete</mat-icon>
                              </button>

                          </div>
          
                        </div>
                      </div>
                  </div>
          
                  <div (cdkDragEnded)="dragEnded($event, i)"  cdkDragLockAxis="x" cdkDrag class="element-class">
          
                      <app-expense-item 
                      [expense]="expense" 
                      [changeCounter]="changeCounter" 
                      (deleteEvent)="deleteExpense($event)" 
                      (selectEvent)="selectExpense($event)"
                      (editEvent)="editExpense($event)"></app-expense-item>
                  </div>
                    
                </mat-card>
                
              
            </div>
            </mat-card>
          </div>
        

    </mat-sidenav-content>

</mat-sidenav-container>






