<mat-toolbar color="primary" class="top-menu mat-elevation-z5">
  <div style="width:100%" fxShow fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="40">
      <a [routerLink]="['/']">
        <img src="assets/images/perfecto-logo.png" height="45">
      </a>
    </div>
    <div fxFlex="50">
      <h4>Expenses</h4>
    </div>
    <!-- <div fxFlex="30">
      <mat-icon>person</mat-icon><label>{{user.name}}</label>
    </div> -->
    <div fxFlex="10">
      <app-header></app-header>
    </div>
  </div>
  <div style="width:100%" fxHide fxShow.lt-md="true" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="15">
      <button mat-icon-button (click)="
          sidenavIndex.toggle()" id="list_left_menu_btn" name="list_left_menu_btn" class="list_left_menu_btn">
        <mat-icon class="left-menu-button">menu</mat-icon>
      </button>
    </div>
    <div fxFlex="80">
      <h4>Expenses</h4>
    </div>
    <div fxFlex="5">    
    <!-- <button *ngIf="displayDelete()" (click)="deleteSelected()" mat-mini-fab color="warn">
        <mat-icon class="action-icon">delete</mat-icon>
    </button> -->
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenavIndex mode="over" fxLayout="column">
    <app-header></app-header>
  </mat-sidenav>
  <mat-sidenav-content>

    
    <div class="form-body" style="height:100vh;">

      <div fxLayout="column" fxLayoutGap="10pt" fxLayoutAlign="center stretch">      
        <div *ngIf="!expenses || expenses?.length === 0">
          <p style="padding-left: 5pt;">No expenses found. Click + to create</p>
        </div>
        <div *ngFor="let expense of expenses; let i = index" class="element-card">

          <div class="element-action-class-bg" ngClass.xs="element-action-class-sm">
            <div fxLayout="row" fxLayoutAlign="space-around stretch" class="list-background">
              <div fxFlex="20" class="edit-section">
                <div *ngIf="displayEditButton" class="edit-section">


                  <!-- <button mat-mini-fab color="accent"> -->
                    <mat-icon class="action-icon" style="color: white">edit</mat-icon>
                  <!-- </button> -->

                </div>
              </div>
              <div fxFlex="60">

              </div>
              <div fxFlex="20">
                <div class="delete-section">
                  <!-- <button mat-mini-fab color="warn"> -->
                    <mat-icon class="action-icon" color="warn">delete</mat-icon>
                  <!-- </button> -->

                </div>

              </div>
            </div>
          </div>

          <div (cdkDragEnded)="dragEnded($event, i)" cdkDragLockAxis="x" cdkDrag class="element-class">

              <div class="example-handle" (tap)="viewExpense(expense)" cdkDragHandle>

                </div>
            <app-expense-item [expense]="expense" [changeCounter]="changeCounter" (deleteEvent)="deleteExpense($event)" (selectEvent)="selectExpense($event)"
              (editEvent)="editExpense($event)"></app-expense-item>
          </div>


        </div>

      </div>

    </div>

    <div class="add-icon-container">
        <button *ngIf="displayAdd()" [routerLink]="['/app-expense']" mat-fab color="accent" id="list_add_btn" name="list_add_btn" class="list_add_btn">
          <mat-icon class="action-icon">add</mat-icon>
        </button>
        <button *ngIf="displayDelete()" (click)="deleteSelected()" mat-fab color="warn" id="list_delete_btn" name="list_delete_btn" class="list_delete_btn">
            <mat-icon class="action-icon">delete</mat-icon>
        </button>    
    </div>
    
  </mat-sidenav-content>

</mat-sidenav-container>