<mat-toolbar color="primary" class="top-menu mat-elevation-z5">
  <!-- <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10" style="width:100%">
    <div>
      <mat-icon class="action-icon" [routerLink]="['/']">arrow_back</mat-icon>
    </div>
    <div>
      <h4>About</h4>
    </div>
    <div>
      
    </div>
  </div> -->
  <div style="width:100%" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="15">
      <button mat-icon-button (click)="goBack()" id="about_back_btn" name="about_back_btn" class="about_back_btn">
        <mat-icon class="action-icon">arrow_back</mat-icon>
      </button>
    </div>
    <div fxFlex="65">
      <h4>About</h4>
    </div>
    <div fxFlex="20">
    </div>
  </div>
</mat-toolbar>

<div class="form-body">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <!-- <mat-card>
      <div style="width:300px; text-align: center;">

      
      <h5>Perfecto Expense Tracker</h5>
      <h6>Version 1.0 Beta</h6>
    </div>
    </mat-card> -->
    <div style="height: 20px;">

    </div>
    <mat-card>
      <div fxLayout="column">
        <div>


          <img width="300px" src="assets/images/perfecto-logo.png">
        </div>
        <div>
          <mat-divider></mat-divider>
        </div>
        <div>
          <img width="300px" src="assets/images/WelkinLogo.png">
        </div>
        <div>
            <mat-divider></mat-divider>
          </div>
      </div>
      <div style="width:300px; text-align: center;">


        <h5>Perfecto Expense Tracker</h5>
        <h6>Version 1.0 Beta</h6>
      </div>
    </mat-card>
    <!-- <a *ngIf="!isWeb" [href]="'tel:' + dummyMobile">Crash Me!</a> -->
    <!-- <a [href]="'tel:' + row.customerMobileNumber">{{row.customerMobileNumber}}</a> -->
    <!-- <button *ngIf="!isWeb" mat-raised-button (click)="crashMe()">Crash Me!</button> -->
    <!-- <mat-card>
      <mat-card-header>
        Powered by
      </mat-card-header>
        <img width="300px" src="assets/images/WelkinLogo.png">
    </mat-card> -->
  </div>