<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
  <div fxFlex="5" style="padding-left: 4px;">
      <mat-checkbox [formControl]="selected"></mat-checkbox>
  </div>
  <div fxFlex="25" fxShow.lt-md="false">
      {{expense.expenseCategory}}
  </div>
  <div fxFlex="30" fxFlex.lt-md="40">
    <div fxLayout="column">
      <div>
        <a [routerLink]="['app-expense-view', expense.id]" >
            {{expense.expenseHead}}
        </a>
          
      </div>
      <div>
          {{expense.date | date : 'yyyy-MM-dd'}}
      </div>
    </div>
      
  </div>
  <div fxFlex="20" fxFlex.lt-md="30">
        <div style="text-align: right">
                {{expense.currency}}{{expense.amount}}
          </div>
      
  </div>
 
  <div fxFlex="20" fxShow.lt-md="false">
      <mat-checkbox class="example-margin" [(ngModel)]="expense.isRecurring" [disabled]="true">Is Recurring</mat-checkbox>
  </div>
</div>