<!-- <app-home-header></app-home-header> -->


<mat-toolbar color="primary" class="fixed-header-toolbar">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10" style="width:100%">
    <div>
      <mat-icon class="action-icon" [routerLink]="['/']">arrow_back</mat-icon>
    </div>
    <div>
      Signup
    </div>
    <div>

    </div>
  </div>
</mat-toolbar>
<div>
  <div class="top-menu-spacer">

  </div>
  <form [formGroup]="signupForm">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card>
        <mat-card-header>

        </mat-card-header>
        <mat-card-content>



          <div fxLayout="column" fxLayoutAlign="center start" class="field">
              <img  src="assets/images/perfecto-logo.png" height="45">
              <h4>Expense Tracker</h4>
            <label>Name</label>
            <div>
              <mat-form-field appearance="outline" color="accent" hintLabel="Min 5 characters">
                <input matInput formControlName="name" autocomplete="off">
                <mat-hint align="end">{{signupForm.get('name').value?.length || 0}}</mat-hint>
              </mat-form-field>

            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="center start" class="field">
            <label>Username</label>
            <div>
              <mat-form-field appearance="outline" color="accent" hintLabel="Min 5 characters">
                <input matInput formControlName="username" autocomplete="off">
                <mat-hint align="end">{{signupForm.get('username').value?.length || 0}}</mat-hint>
              </mat-form-field>

            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center start" class="field">
            <label>Password</label>
            <div>
              <mat-form-field appearance="outline" color="accent" hintLabel="Min 5 characters">
                <input matInput type="password" formControlName="password" autocomplete="off" (keyup.enter)="submit(signupForm.value)">
                <mat-hint align="end">{{signupForm.get('password').value?.length || 0}}</mat-hint>
              </mat-form-field>

            </div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button [disabled]="signupForm.invalid || !existingUsers" type="button" (click)="submit(signupForm.value)"
              color="accent">Register</button>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>
  </form>
</div>