<form *ngIf="expenseForm" [formGroup]="expenseForm" >
<mat-toolbar color="primary" class="top-menu mat-elevation-z5">
<!-- <mat-toolbar color="primary" class="fixed-header-toolbar"> -->
  <!-- <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10" style="width:100%">
    <div>
      <mat-icon class="action-icon" [routerLink]="['/']">arrow_back</mat-icon>
    </div>
    <div>
      <h4 *ngIf="!expenseForm.get('id').value">Add</h4>
      <h4 *ngIf="expenseForm.get('id').value">Edit</h4>
    </div>
    <div>
      <button type="submit" mat-raised-button color="accent">Save</button>
    </div>
  </div> -->
  <div style="width:100%" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="15">
        <button mat-icon-button (click)="goBack()" type="button">
            <!-- <mat-icon class="action-icon" [routerLink]="['/']">arrow_back</mat-icon> -->
            <mat-icon class="action-icon">arrow_back</mat-icon>
        </button>
      </div>
      <div fxFlex="65">
          <h4 *ngIf="!expenseForm.get('id').value">Add</h4>
          <h4 *ngIf="expenseForm.get('id').value">Edit</h4>
      </div>
      <div fxFlex="20">    
        <button type="submit" mat-raised-button color="accent" [disabled]="expenseForm.invalid" (click)="onSubmit(expenseForm.value)" >Save</button>
      </div>
  </div>
</mat-toolbar>

<div class="form-body">

<mat-card>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="space-between stretch" fxLayout.lt-md="column">
    <div fxFlex="34">
      <div fxLayout="column" fxLayoutAlign="center start" class="field">
        <label>Head*</label>
        <div>
          <!-- <mat-form-field appearance="outline" color="accent">
            <input matInput formControlName="expenseHead">
          </mat-form-field> -->


          <mat-form-field appearance="outline" color="accent">
              <mat-select formControlName="expenseHead">
                <mat-option *ngFor="let head of expenseHeads" [value] = "head">
                  {{head}}
                </mat-option>
              </mat-select>
            </mat-form-field>

        </div>
      </div>
    </div>
    <div fxFlex="34">
      <div fxLayout="column" fxLayoutAlign="center start" class="field">
        <label>Amount*</label>
        <div>
          <mat-form-field appearance="outline" color="accent">
            <input matInput formControlName="amount" type="number">
          </mat-form-field>

          <div>
            <mat-slider style="width:100%" [max]="maxAmount" [min]="minAmount" [step]="stepAmount" [thumbLabel]="amountThumbLabel" [tickInterval]="amountTickInterval" [formControl]="amountSlider">
            </mat-slider>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="32">
      <div fxLayout="column" fxLayoutAlign="center start" class="field">
        <label>Currency*</label>
        <div>
          <mat-form-field appearance="outline" color="accent">
            <mat-select formControlName="currency">
              <mat-option *ngFor="let ccy of currencies" [value]="ccy.symbol">
                {{ccy.text}} - {{ccy.symbol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  
    <div fxFlex="34">
      <div fxLayout="column" fxLayoutAlign="center start" class="field">
        <label>Date*</label>
        <div>
          <mat-form-field appearance="outline" color="accent">
            <input matInput [matDatepicker]="picker" formControlName="date" [max]="maxDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

    </div>


  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="space-between stretch" fxLayout.lt-md="column">

    <div fxFlex="34">
      <div fxLayout="column" fxLayoutAlign="center start" class="field">
        <label>Category</label>
        <div>
          <mat-form-field appearance="outline" color="accent">
            <mat-select multiple formControlName="expenseCategory">
              <mat-option *ngFor="let expCat of expenseCategories" [value] = "expCat">
                {{expCat}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </div>

    <div fxFlex="34" class="field">
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
        <div fxLayout="column" fxLayoutAlign="center start" class="field">
          <button mat-raised-button type="button" (click)="fileInput.click()" color="accent">Attach Receipt</button>
          <input #fileInput type="file" (change)="onImageChange($event)" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps,.doc,.docx," style="display: none">
        </div>
        <div *ngIf="imagePreview">
          <!-- <img width="200px" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview.image)" alt="Doc"> -->


              <div class="img-wrap">
                  <!-- <span class="close" (click)="deletePreviewPhoto(imagePreview.name)">&times;</span> -->
                  <mat-icon class="close" color="warn" (click)="deletePreviewPhoto(imagePreview.name)">delete</mat-icon>
                  <img width="200px" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview.image)">
              </div>
      

        </div>
      </div>

    </div>
    <div fxFlex="32" class="field">
      <mat-slide-toggle formControlName="isRecurring">Recurring</mat-slide-toggle>
    </div>
    <div fxFlex="34" class="field">
      <div fxLayout="column" fxLayoutAlign="center start" class="field">
        <label>Details</label>
        <mat-form-field appearance="outline" style="width:90%" color="accent">
          <textarea matInput formControlName="details"></textarea>
        </mat-form-field>
      </div>
    </div>

  </div>

</mat-card>

</div>

</form>